<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: nav"></nav>

<div class="text-center">
    <div class="container content">
        <h1 class="logo">Wanderlust</h1>
        <div class ="row">
            <form method="post" action="/wander">

                <select name="wandType" id="wandType" class="form-control dark">
                    <option value="Food">Food</option>
                    <option value="Activity">Activity</option>
                </select>
                <br></br>

                <input type="hidden" id="lng" name="lng"></input>
                <input type="hidden" id="lat" name="lat"></input>
                <button class="btn btn-lg btn-primary btn-block " type="submit">Wander</button>

            </form>
        </div>
        <div class="results row" th:if="${Result}">

            <h1 th:text="${Result.name}"></h1>
            <h3 th:if="${Result.priceLevel}" th:text="'Price Level: ' + ${Result.priceLevel}"></h3>
            <h3 th:text="'Rating: ' + ${Result.rating}"></h3>

            <a th:href="${directionsUrl}" target="_blank"><button class="bottom-button btn btn-lg btn-primary">Get Directions</button></a>
            <button th:if="${Result} and ${currentUser}" onclick="addFavorite()" class="bottom-button btn btn-lg btn-primary">Add to Favorites &#10084;</button>
        </div>
        <div class="row">
            <p class="mt-5 mb-3">&copy; 2017-2018</p>
        </div>
    </div>
</div>
</body>
<script>
$(document).ready(function(){

        console.log(retrieving location); 

        if (navigator.geolocation) {
            var positionOption = { timeout: 500, enableHighAccuracy: true };
            navigator.geolocation.getCurrentPosition(function (position){

            console.log(position.coords);

                var lng = document.getElementById("lng");
                var lat = document.getElementById("lat");

                lng.value = position.coords.longitude;
                lat.value = position.coords.latitude;
                },
            function(error){
                console.log(error);
            },
            positionOption
            );
        } else {
            alert("Geolocation is not supported by this browser.");
            }
    });

</script>
<script th:inline="javascript"  th:if="${Result} and ${currentUser}">

/*<![CDATA[*/

    function addFavorite(){
        var name = /*[[${Result.name}]]*/;
        var placeId = /*[[${Result.placeId}]]*/;
        var userId = /*[[${currentUser.userId}]]*/;
        var priceLevel = /*[[${Result.priceLevel}]]*/;
        priceLevel = priceLevel != null ? priceLevel : "0";
        var rating = /*[[${Result.rating}]]*/;
        rating = rating != null ? rating : "0";
            var port = ""

        if (window.location.port) {
            port = ":" + window.location.port
        }


        requestUrl = "https://" + window.location.hostname + port + "/api/addFavorite?name=" + name +
        "&placeId=" + placeId +
        "&userId=" + userId +
        "&priceLevel=" + priceLevel +
        "&rating=" + rating;

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
             // Typical action to be performed when the document is ready:
             alert("Added to favorites");
            }
        };
        xhttp.open("GET", requestUrl, true);
        xhttp.send();
    }



/*]]>*/

</script>
</html>